{% extends 'base.html.twig' %}

{% block title %}Edit Month{% endblock %}

{% block body %}
    <h1>Edit Month</h1>

    {{ include('month/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('month_index') }}">back to list</a>

    {{ include('month/_delete_form.html.twig') }}
{% endblock %}
