{% extends 'base.html.twig' %}

{% block title %}Edit BookClubMonth{% endblock %}

{% block body %}
    <h1>Edit BookClubMonth</h1>

    {{ include('book_club_month/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('book_club_month_index') }}">back to list</a>

    {{ include('book_club_month/_delete_form.html.twig') }}
{% endblock %}
