{% extends 'base.html.twig' %}

{% block title %}Index Page{% endblock %}

{% block body %}
<h1>Book Club Website</h1>

<p> Welcome to the book club website! <a href="{{ path('app_login') }}"> login </a> for more info</p>

{% endblock %}
